{% load static %}

<div class="hero-section hero-style-5 img-bg" style="background-image: url('{% static 'img/hero/hero-5/hero-bg.svg' %} ')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-content-wrapper">
            <h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">You're Using Free Lite Version</h2>
            <p class="mb-30 wow fadeInUp" data-wow-delay=".4s">Please purchase full version of the template to get all sections and permission to use with commercial projects.</p>
            <a href="#0" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=".6s">Get Started <i class="lni lni-chevron-right"></i> </a>
          </div>
        </div>
        <div class="col-lg-6 align-self-end">
          <div class="hero-image wow fadeInUp" data-wow-delay=".5s">
            <img src="{% static 'img/hero/hero-5/hero-img.svg' %} " alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  