{% load static %}

{% block content %}

<section id="feature" class="feature-section feature-style-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8">
          <div class="section-title text-center mb-60">
            <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Especializados em</h3>
            <p class="wow fadeInUp" data-wow-delay=".4s">Pare de gastar tempo e dinheiro em designs e gerencimentos de websites que não trazem resultados. Felicidade garantida!</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Produto Item -->
        {% for p in produtos %}
        <div class="col-lg-4 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
            <div class="icon">
              <i class="{{p.icone}}"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                </svg>                  
            </div>
            <div class="content">
              <h5>{{p.produto}}</h5>
              <p>{{p.descricao}}</p>
            </div>
          </div>
        </div>
        {% endfor %}       
      </div>

    </div>
  </section>

{% endblock %}
 