{% extends "base_publica.html" %}
{% load static %}

{% block content %}
  
  <section class="hero-section-wrapper-5">
    <!-- ========================= hero-5 start ========================= -->
    {% include 'banner.html' %}
    <!-- ========================= hero-5 end ========================= -->
  </section>

  <!-- ========================= feature style-5 start ========================= -->
  {% include "feature.html" %}
  <!-- ========================= feature style-5 end ========================= -->

  <!-- ========================= about style-4 start ========================= -->
  {% include "about.html" %}
  <!-- ========================= about style-4 end ========================= -->

  <!-- ========================= pricing style-4 start ========================= -->
  {% include 'princing.html'%}
  <!-- ========================= pricing style-4 end ========================= -->

  <!-- ========================= contact-style-3 start ========================= -->
  {% include 'contact.html' %}
  <!-- ========================= contact-style-3 end ========================= -->

  <!-- ========================= clients-logo start ========================= -->
  {% include 'clients.html' %}
  <!-- ========================= clients-logo end ========================= -->

  

{% endblock %}